/* Colors */
/* Fonts */
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Settings */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.phone-link-wrap {
  text-align: right;
}
.button {
  background-color: #f6ae01;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  border: none;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #dd9c01;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  font-weight: 900;
  color: #292929;
  font-size: 1.7rem;
  height: 7rem;
  line-height: 7rem;
  text-decoration: none;
}
.form {
  background-color: #fff;
  padding: 5rem 5rem 4rem 5rem;
  text-align: center;
}
.form-header {
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.form-header strong {
  font-size: 1.9rem;
}
.form-input {
  display: block;
  margin: 2rem 0;
  border: 1px solid #dddddd;
  width: 100%;
  padding: 1.7rem;
  border-radius: 5px;
}
.form label {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  font-size: 1.3rem;
  background-color: #fff;
}
.form-btn {
  width: 100%;
  height: 6rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
/* Typography */
section {
  padding: 10rem 0;
}
.section-header {
  margin: 2rem 0 10rem;
  text-align: center;
}
.section-header_light {
  color: #fff;
}
.section-header h2 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
}
.section-header p {
  font-size: 1.4rem;
}
.main {
  padding: 3rem 0;
  background: #fff url(../img/main-bg.png) center center no-repeat;
  background-size: cover;
  /* Главный заголовок */
  /* Подзаголовок */
  /* Ярлык */
}
.main-content {
  margin-top: 7rem;
}
.main h1 {
  font-family: 'ProximaNova_bold', sans-serif;
  margin-top: 0;
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 4rem;
  line-height: 1.45;
}
.main-subtitle {
  font-size: 2.4rem;
  margin-bottom: 4rem;
}
.main-trigger {
  display: block;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-small-tag {
  display: block;
  text-align: center;
  margin-top: 3rem;
  font-size: 1rem;
}
.main span {
  display: inline-block;
  background: #70c849;
  color: #fff;
  padding: 2rem 3.3rem;
  font-size: 1.8rem;
  margin-bottom: 3rem;
}
.main span strong {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3rem;
}
/* Секция с преимуществами */
.features-block {
  text-align: center;
}
.features-block h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.features-block p {
  display: inline-block;
  width: 80%;
  font-size: 1.2rem;
}
.features-img {
  height: 7rem;
  margin-bottom: 6rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
/* Секция с ценами */
.price {
  background: url(../img/prices/prices-bg.png) center repeat;
  background-size: cover;
}
.price-header-btn {
  margin-top: 1rem;
}
.price-button {
  text-align: right;
}
.price-header-block {
  margin-bottom: 9rem;
}
.price-block {
  background: #fff;
  text-align: center;
  box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  padding: 1rem 3rem;
  min-height: 60rem;
  color: #292929;
}
.price-block h4 {
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin: 3rem 0;
}
.price-block img {
  width: 100%;
  max-width: 30rem;
  display: inline-block;
  margin-bottom: 2rem;
}
.price-tag {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.price-tag strong {
  font-size: 2.5rem;
}
.price-list {
  min-height: 14rem;
  padding: 0;
  list-style: none;
  font-size: 1.6rem;
  line-height: 1.6;
}
.price-list li::before {
  content: '';
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 1rem;
  background: url(../img/prices/checked.svg) center no-repeat;
  background-size: 100%;
}
/* Секция с отзывами */
.feedback {
  background: url(../img/feedback/feedback-bg.png) center no-repeat;
  background-size: cover;
  position: relative;
}
.feedback-form {
  margin-top: 5rem;
}
.feedback-form-header {
  font-family: 'ProximaNova_bold', sans-serif;
}
.feedback-content {
  margin-left: 2rem;
}
.feedback-slider {
  background-color: #fff;
  box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
  padding: 5rem 6rem;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  width: 4rem;
  height: 5rem;
  border: none;
  background-color: #70c849;
}
.feedback-slider-btn img {
  width: 50%;
}
.feedback p {
  font-size: 1.6rem;
}
.feedback-prev-btn {
  left: -4rem;
}
.feedback-next-btn {
  right: -4rem;
}
.feedback-media {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
}
.feedback-media-avatar {
  margin-right: 2rem;
}
.feedback-media-avatar img {
  width: 4rem;
  height: 4rem;
}
.feedback-media-name span {
  font-size: 1.3rem;
}
.feedback-text {
  position: relative;
}
.feedback-text::before {
  display: block;
  content: '';
  position: absolute;
  top: -1.8rem;
  left: 4rem;
  height: 2rem;
  width: 2rem;
  background-color: #fff;
  border: 2px solid #70c849;
  border-bottom: none;
  border-top-right-radius: 90px;
}
.feedback-text p {
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid #70c849;
  font-size: 1.3rem;
  font-style: italic;
}
.feedback .hand {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 25%;
}
.slick-active {
  outline: none;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.prev {
  left: 0;
  background: url(../img/left-arrow.svg) center no-repeat;
  background-size: 70%;
}
.next {
  right: 0;
  background: url(../img/right-arrow.svg) center no-repeat;
  background-size: 70%;
}
/* Оформление модальных окон */
.popup {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 4rem 6rem;
}
.popup-form {
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -2rem;
  right: -2.5rem;
  width: 2rem;
  text-align: center;
  border: none;
  background: transparent;
  font-size: 4rem;
  color: #fff;
}
.popup-header {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.8rem;
}
.popup p {
  font-size: 1.8rem;
}
.popup-content {
  text-align: center;
}
@media (max-width: 991px) {
  .phone-link-wrap,
  .main-title {
    text-align: center;
  }
  .main {
    background-position: top right;
  }
  .main-content {
    margin-top: 3rem;
  }
  .main-title {
    padding-bottom: 3rem;
  }
  .price-button {
    text-align: center;
    padding: 2rem 0;
  }
  .price-header-btn {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .price-block {
    margin-top: 2rem;
  }
  .price-header-block {
    margin-bottom: 0;
  }
  .section-header_light {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .header,
  .wrap-block {
    text-align: center;
  }
  .main-title {
    margin-top: 10rem;
  }
  .main-title h1 {
    font-size: 2.5rem;
  }
  .main {
    background-position: top left;
  }
}
@media (max-width: 1199px) {
  .fotorama {
    margin-bottom: 3rem;
  }
  .hand {
    display: none;
  }
  .feedback-prev-btn {
    left: 0;
  }
  .feedback-next-btn {
    right: 0;
  }
}
